.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    &_fs14 {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 0;
    }
    &_fs16 {
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
    }
    &_fs20 {
        font-size: 20px;
    }
    &_fs48 {
        font-size: 48px;
    }
    
}